.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
